.app__filters {
    background-color: var(--black-color);
    color: var(--lightGray-color);
    font-family: var(--font-base);

    position: fixed;
    height: 100%;
    width: 15rem;
    padding: 1rem;

    border-radius: 0 5px 0 0;


    .app__filters-title {
        display: flex;
        align-items: center;
        gap: 20px;

        border-bottom: 1px solid var(--white-color);
        padding-bottom: 15px;
    }


    .app__filters-categories {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            display: flex;
            gap: 10px;
            align-items: center;

            &:first-child {
                border-bottom: 1px solid var(--white-color);
                padding: 0 0 5px 0;
            }


            input {
                all: unset;
                width: 10px;
                height: 10px;
                display: inline-block;
                background-color: var(--white-color);

                &:checked {
                background-color: var(--highlight-color);
                width: 10px;
                height: 10px;
                }
            }
        }

    }

}

.app__filters-search {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 0;

    input {
        padding: 7px 10px;
        width: 100%;

        background-color: var(--gray-color);
        color: var(--white-color);

        border: none;
        border-radius: 5px;
        
        &::placeholder {
            color: var(--lightGray-color);
        }

        &:focus {
            outline: none;
        }
    }

    button {
        width: 40px;
        height: 28px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white-color);
        transition: background-color .3s linear,color .3s linear;

        img {
            width: 15px;
        }

        &:hover {
            background-color: var(--highlight-color);
            color: var(--white-color);
        }
    }
}