.app__filters {
    background-color: var(--black-color);
    color: var(--lightGray-color);
    font-family: var(--font-base);

    position: fixed;
    height: 100%;
    width: 15rem;
    padding: 1rem;

    border-radius: 0 5px 0 0;


    .app__filters-title {
        display: flex;
        align-items: center;
        gap: 20px;

        border-bottom: 1px solid var(--white-color);
        padding-bottom: 15px;

        h3 {
            color: var(--white-color);
            font-weight: 300;
            font-size: 1.5rem;
        }
    }


    .app__filters-categories {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
            display: flex;
            gap: 10px;
            align-items: center;

            &:first-child {
                border-bottom: 1px solid var(--white-color);
                padding: 15px 0px;
            }


            input {
                all: unset;
                width: 10px;
                height: 10px;
                display: inline-block;
                background-color: var(--white-color);

                &:checked {
                background-color: var(--highlight-color);
                width: 10px;
                height: 10px;
                }
            }
        }

    }

}