.app__homepage {
  height: 100vh;
}
.app__homepage-main {
  display: flex;

  .app__homepage-main-posts {
    background-color: RED;
    width: 100%;
    display: flex;
<<<<<<< HEAD

    .app__homepage-main-posts {
        width: 100%;
        display: flex;
        justify-content: center;
        

        
    }
=======
    justify-content: center;
  }
>>>>>>> loginPage
}
