@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

:root {
  --font-base: 'Chakra Petch', sans-serif;

  --black-color: #17161B;
  --gray-color: #525050;
  --lightGray-color: #ADADAD;
  --white-color: #FFFFFF;
  --highlight-color: #FF4F5E;
  --error-color: #FC2C2C;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}